################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitLesson1/obj/Debug
/GitLesson1/bin/Debug
/GitLesson1/.vs/GitLesson1
/.vs/2/v17
